<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task Items History</title>

    <style>
      #visualization {
        border: 1px solid lightgray;
      }
      .tooltip {
        position: absolute;
        display: none;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        pointer-events: none;
      }
      .date-picker {
        padding-bottom: 15px;
      }
      .ui.celled.table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
      }
      .ui.celled.table th,
      .ui.celled.table td {
        padding: 12px;
        text-align: left;
        border: 1px solid #ddd;
      }
      .ui.celled.table th {
        background-color: #f2f2f2;
      }
      .ui.celled.table tr:hover {
        background-color: #f9f9f9;
      }
      .ui.celled.table .detail-table {
        width: 100%;
        margin-top: 10px;
        border-collapse: collapse;
      }
      .ui.celled.table .detail-table th,
      .ui.celled.table .detail-table td {
        padding: 10px;
        border: 1px solid #ddd;
      }
      .ui.celled.table .detail-table th {
        background-color: #f9f9f9;
      }
      .detail-row {
        background-color: #fafafa;
      }
      .positive {
        color: green;
        font-weight: bold;
      }
      .negative {
        color: red;
        font-weight: bold;
      }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script
      type="text/javascript"
      src="https://unpkg.com/moment@latest"
    ></script>
    <script
      type="text/javascript"
      src="https://unpkg.com/vis-data@latest/peer/umd/vis-data.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://unpkg.com/vis-timeline@latest/peer/umd/vis-timeline-graph2d.min.js"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/vis-timeline/styles/vis-timeline-graph2d.min.css"
    />
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="row">
      <div class="col offset-l1"><h4>Task Manager</h4></div>
    </div>
    <div class="row">
      <div class="col s6 offset-l1">
        <input
          type="text"
          class="datepicker"
          id="selected-date"
          style="cursor: pointer;"
          onchange="fetchTasks()"
        />

        <div class=>
        <div id="visualization"></div>
        <div id="tooltip" class="tooltip"></div>
        <table class="ui celled table" id="tasks-table">
          <thead>
            <tr>
              <th>Client</th>
              <th>Total Time Spent</th>
              <th>Qtr. Hr.</th>
              <th>Rounded Change</th>
            </tr>
          </thead>
          <tbody id="tasks-tbody">
            <!-- Tasks will be loaded here -->
          </tbody>
        </table>
      </div>
    </div>

    <div class="col s3 offset-l1">
      <table>
        <tr>
          <th>Billable Time</th>
          <td id="billable-value">Value 1</td>
        </tr>
        <tr>
          <th>Non-Billable Time</th>
          <td id="nonbillable-value">Value 2</td>
        </tr>

        <tr style="border-top: 3px solid black;">
          <th >Total Time</th>
          <td id="total-time-value">Value 3</td>
        </tr>
        <tr>
          <th>Break Time</th>
          <td class="red-text" id="break-value">0</td>
        </tr>
      </table>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const today = new Date();
        const year = today.getFullYear();
        const month = String(today.getMonth() + 1).padStart(2, "0");
        const day = String(today.getDate()).padStart(2, "0");
        const formattedToday = `${year}-${month}-${day}`;
        document.getElementById("selected-date").value = formattedToday;
        fetchTasks();

        var elems = document.querySelectorAll(".datepicker");
        var instances = M.Datepicker.init(elems, {
          format: "yyyy-mm-dd", // You can adjust the format to your needs
        });
      });

      function timeDifference(start, end) {
        // Get the current time if end time is not provided
        if (!end) {
          let now = new Date();
          end = now.toTimeString().split(" ")[0];
        }

        // Parse the start and end times
        let [startHours, startMinutes, startSeconds] = start
          .split(":")
          .map(Number);
        let [endHours, endMinutes, endSeconds] = end.split(":").map(Number);

        // Create Date objects
        let startTime = new Date();
        startTime.setHours(startHours, startMinutes, startSeconds, 0);

        let endTime = new Date();
        endTime.setHours(endHours, endMinutes, endSeconds, 0);

        // Calculate the difference in milliseconds
        let diffMs = endTime - startTime;

        // Handle case where end time is on the next day
        if (diffMs < 0) {
          endTime.setDate(endTime.getDate() + 1);
          diffMs = endTime - startTime;
        }

        // Convert milliseconds to hours, minutes, and seconds
        let diffMinutes = Math.floor(diffMs / (1000 * 60));

        return diffMinutes;
      }

      async function fetchBreaks() {
  const selectedDate = document.getElementById("selected-date").value;
  console.log(selectedDate);

  return new Promise((resolve, reject) => {
    fetch("/get_breaks", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        date: selectedDate,
      }),
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.error) {
          reject(data.error);
        } else {
          resolve(data);
          renderBreaks(data);
        }
      })
      .catch((error) => reject(error));
  });
}




      function fetchDayData() {
  const selectedDate = document.getElementById("selected-date").value;

  return new Promise((resolve, reject) => {
    fetch("/get_day_data", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        date: selectedDate,
      }),
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.error) {
          reject(data.error);
        } else {
          const startTime = data.start_time;
          const endTime = data.end_time;
          const timeDiff = timeDifference(startTime, endTime);
          console.log(timeDiff, "time diff");
          resolve(timeDiff);
        }
      })
      .catch((error) => reject(error));
  });
}





      async function fetchTasks() {
        const date = document.getElementById("selected-date").value;
        const response = await fetch(`/tasks/${date}`);
        const data = await response.json();
        renderTasks(data);
        renderTimeline(data, date);
      }

      function renderBreaks(breaks) {
        const breaksContainer = document.getElementById("break-value");
        breaksContainer.innerHTML = "0";
        breaksContainer.setAttribute("totalBreakMins", 0);

        if (breaks.length === 0) {
          breaksContainer.innerHTML = "0 hrs. (0:00)";
        } else {
          const totalTime = totalNumberofMinutesPerClient(breaks);
          breaksContainer.innerHTML = `${totalTimeSpentToFractionalHours(totalTime)} hrs. (${minutesToHoursMinutes(totalTime)})`;
          breaksContainer.setAttribute("totalBreakMins", totalTime);
        }
      }

      function renderHighLevelTable(data) {
        console.log(data);
        const clients = aggregateByClient(data);
        let totalMinutes;
        let totalFractionalHours;
        clients.forEach((client) => {
          const clientTotalMinutes = totalNumberofMinutesPerClient(
            client.tasks
          );
          console.log(client.tasks);
          console.log(clientTotalMinutes);
          totalMinutes += clientTotalMinutes;
          totalFractionalHours +=
            totalTimeSpentToFractionalHours(clientTotalMinutes);
        });
        console.log(totalMinutes);
        console.log(totalFractionalHours);
      }

      function convertTo24Hour(time) {
        let [hours, minutes] = time.split(":");
        minutes = minutes.slice(0, -2);
        const period = time.slice(-2);

        if (period.toLowerCase() === "pm" && hours !== "12") {
          hours = parseInt(hours) + 12;
        } else if (period.toLowerCase() === "am" && hours === "12") {
          hours = "00";
        }

        return `${hours}:${minutes}`;
      }

      function getMinutesFromMidnight(time24) {
        const [hours, minutes] = time24.split(":").map(Number);
        return hours * 60 + minutes;
      }

      function getMinuteDifference(time1, time2) {
        // Parse the time strings
        const date1 = new Date(`1970-01-01T${time1}Z`);
        const date2 = new Date(`1970-01-01T${time2}Z`);

        // Calculate the difference in milliseconds
        const diffMs = Math.abs(date2 - date1);

        // Convert milliseconds to minutes
        const diffMinutes = diffMs / (1000 * 60);

        return diffMinutes;
      }

      function removeLeadingZero(str) {
        if (str.startsWith("0")) {
          return str.slice(1);
        }
        return str;
      }

      let timeline;  // Declare timeline variable outside the function for broader scope

function renderTimeline(tasks, date) {
  const container = document.getElementById("visualization");
  const tooltip = document.getElementById("tooltip");

  // Prepare items for the timeline
  const items = tasks.map((task) => {
    const start = new Date(`${task.date}T${task.start_time}`);
    const end = task.end_time ? new Date(`${task.date}T${task.end_time}`) : new Date();

    return {
      id: task.id,
      content: task.client_name,
      start: start,
      end: end,
      ongoing: task.end_time ? false : true
    };
  });

  // Calculate min and max dates
  let minDate = new Date(`${date}T00:00:00`);
  let maxDate = new Date(`${date}T23:59:59`);

  items.forEach((item) => {
    if (item.start < minDate) {
      minDate = item.start;
    }
    if (item.end > maxDate) {
      maxDate = item.end;
    }
  });

  // Set up options for the timeline
  const options = {
    min: minDate,
    max: maxDate,
    zoomable: true,
    format: {
      minorLabels: {
        hour: "h A",
        minute: "h:mm A",
      },
    },
    showCurrentTime: true,
    height: "150px",
  };

  // Destroy the existing timeline if it exists
  if (timeline) {
    console.log("timeline exists already, destroying and re-rendering");
    timeline.destroy();
    timeline = null;
  } else {
    console.log("timeline doesnt exist, rendering");
  }

  // Create a new timeline instance
  timeline = new vis.Timeline(container, items, options);

  function formatTime(date) {
    return date.toLocaleString("en-US", {
      hour: "numeric",
      minute: "numeric",
      hour12: true,
    });
  }

  // Add hover event listeners to show start and end times in a tooltip
  timeline.on("itemover", function (properties) {
    const itemId = properties.item;
    const item = items.find((i) => i.id === itemId);
    const date1 = new Date(item.start);
    const date2 = new Date(item.end);

    // Calculate the difference in milliseconds
    const diffMs = Math.abs(date2 - date1);

    // Convert milliseconds to minutes
    const diffMinutes = diffMs / (1000 * 60);

    if (item) {
      if (item.ongoing) {
        tooltip.innerHTML = `<div>${formatTime(item.start)} - Ongoing
      </div><div>${Math.floor(diffMinutes)} minutes</div>`;
      } else {
        tooltip.innerHTML = `<div>${formatTime(item.start)} - ${
          item.end ? formatTime(item.end) : "N/A"
        }</div><div>${Math.floor(diffMinutes)} minutes</div>`;
      }

      tooltip.style.display = "block";
    }
  });

  timeline.on("itemout", function () {
    tooltip.style.display = "none";
  });

  container.addEventListener("mousemove", function (e) {
    const tooltipWidth = tooltip.offsetWidth;
    const tooltipHeight = tooltip.offsetHeight;
    const pageWidth = window.innerWidth;
    const pageHeight = window.innerHeight;

    let left = e.pageX + 10;
    let top = e.pageY + 10;

    if (left + tooltipWidth > pageWidth) {
      left = e.pageX - tooltipWidth - 10;
    }
    if (top + tooltipHeight > pageHeight) {
      top = e.pageY - tooltipHeight - 10;
    }

    tooltip.style.left = left + "px";
    tooltip.style.top = top + "px";
  });
}

      function totalTimeSpentToFractionalHours(totalTimeSpentInMinutes) {
        // Convert totalTimeSpentInSeconds to hours

        const totalTimeSpentInHours = totalTimeSpentInMinutes / 60;

        // Round to the nearest quarter hour
        const roundedHours = Math.round(totalTimeSpentInHours * 4) / 4;

        return roundedHours;
      }

      function timeStringToSeconds(timeString) {
        const [hours, minutes, seconds] = timeString.split(":").map(Number);
        const totalSeconds = hours * 3600 + minutes * 60 + seconds;
        return totalSeconds;
      }

      function totalNumberofMinutesPerClient(tasks) {
        let totalMins = 0;
        for (let i = 0; i < tasks.length; i++) {
          const task = tasks[i];
          const date1 = new Date(`1970-01-01T${task.start_time}Z`);

          let date2;

          if (task.end_time) {
            date2 = new Date(`1970-01-01T${task.end_time}Z`);
          } else {
            const currentDate = new Date();

            // Get the current hour and minutes
            const currentHour = currentDate
              .getHours()
              .toString()
              .padStart(2, "0");
            const currentMinutes = currentDate
              .getMinutes()
              .toString()
              .padStart(2, "0");

            // Construct a string in the format 'HH:MM'
            const currentTimeString = `${currentHour}:${currentMinutes}`;

            // Use this string in your desired format
            date2 = new Date(`1970-01-01T${currentTimeString}Z`);
          }

          // Calculate the difference in milliseconds
          const diffMs = Math.abs(date2 - date1);

          // Convert milliseconds to minutes
          const diffMinutes = diffMs / (1000 * 60);

          totalMins += diffMinutes;
        }
        return Math.floor(totalMins);
      }

      async function renderTasks(tasks) {
        const tbody = document.getElementById("tasks-tbody");
        tbody.innerHTML = "";

        const clients = aggregateByClient(tasks);
        let totalMinutesForAll = 0;
        let totalFractionalHours = 0;
        clients.forEach((client) => {
          const totalMinutes = totalNumberofMinutesPerClient(client.tasks);
          totalMinutesForAll += totalMinutes;
          const fractionalHours = totalTimeSpentToFractionalHours(totalMinutes);
          totalFractionalHours += fractionalHours;
          const difference = fractionalHours * 60 - totalMinutes;
          totalNumberofMinutesPerClient(client.tasks);
          const aggregateRow = document.createElement("tr");
          aggregateRow.innerHTML = `
            <td>${client.name}</td>
            <td>${totalNumberofMinutesPerClient(client.tasks)} minutes</td>
            <td>${totalTimeSpentToFractionalHours(
              totalNumberofMinutesPerClient(client.tasks)
            )} hrs.</td>
            <td class="${
              difference < 0 ? "negative" : "positive"
            }">${difference} minutes</td>
        `;
          aggregateRow.addEventListener("click", () => {
            toggleDetailTable(client.id);
          });
          aggregateRow.style.cursor = "pointer";
          tbody.appendChild(aggregateRow);

          const detailRow = document.createElement("tr");
          detailRow.id = `detail-row-${client.id}`;
          detailRow.classList.add("detail-row");
          detailRow.style.display = "none";
          const detailCell = document.createElement("td");
          detailCell.colSpan = 4;
          const detailTable = document.createElement("table");
          detailTable.classList.add("ui", "celled", "table", "detail-table");
          detailTable.innerHTML = `
            <thead>
                <tr>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Description</th>
                    <th>Time Spent</th>
                </tr>
            </thead>
            <tbody>
                <!-- Detail tasks will be loaded here -->
            </tbody>
        `;
          console.log("total ");
          client.tasks.forEach((task) => {
            const taskRow = document.createElement("tr");
            taskRow.innerHTML = `
                <td>${convertTo12HourFormat(task.start_time)}</td>
                <td>${
                  task.end_time ? convertTo12HourFormat(task.end_time) : ""
                }</td>
                <td>${task.description}</td>
                <td>${parseInt(
                  getMinuteDifference(task.end_time, task.start_time)
                )} minutes</td>
            `;
            detailTable.querySelector("tbody").appendChild(taskRow); // Append task row to detail table
          });
          detailCell.appendChild(detailTable);
          detailRow.appendChild(detailCell);
          tbody.appendChild(detailRow);
        });
        console.log("total minutes for all clients", totalMinutesForAll);
        const billDifference = totalFractionalHours * 60 - totalMinutesForAll
        let formattedBillDifference;
        const upArrow = "&#9650;";  // ▲
const downArrow = "&#9660;"; // ▼
if (billDifference > 0) {
    formattedBillDifference = `<span style="color: green;">${upArrow}${billDifference}</span>`;
} else if (billDifference < 0) {
    formattedBillDifference = `<span style="color: red;">${downArrow}${Math.abs(billDifference)}</span>`;
} else {
    formattedBillDifference = billDifference;
}
        document.getElementById(
          "billable-value"
        ).innerHTML = `${totalFractionalHours} hrs. (${minutesToHoursMinutes(totalMinutesForAll)}) ${formattedBillDifference}`;
        document
          .getElementById("billable-value")
          .setAttribute("totalBillableHrs", totalFractionalHours);
        const overallDayTime = await fetchDayData();
        console.log("overall day time", overallDayTime)
        await fetchBreaks()
        const totalBreakTime = document.getElementById("break-value").getAttribute("totalBreakMins")
        const nonBillableTime = totalTimeSpentToFractionalHours(overallDayTime-totalBreakTime-totalMinutesForAll);
        console.log(nonBillableTime, "non billable time fractional hrs");
        const nonDifference = nonBillableTime * 60 - (overallDayTime-totalBreakTime-totalMinutesForAll);
        let formattedNonDifference
if (nonDifference > 0) {
  formattedNonDifference = `<span style="color: green;">${upArrow}${nonDifference}</span>`;
} else if (nonDifference < 0) {
  formattedNonDifference = `<span style="color: red;">${downArrow}${Math.abs(nonDifference)}</span>`;
} else {
  formattedNonDifference = nonDifference;
}
        document.getElementById("nonbillable-value").innerHTML = `${nonBillableTime} hrs. (${minutesToHoursMinutes(overallDayTime-totalBreakTime-totalMinutesForAll)}) ${formattedNonDifference}`;
        const totalTimeFractionalHours = totalFractionalHours + nonBillableTime;

        const nonBillableTimeMins = overallDayTime-totalBreakTime-totalMinutesForAll

        const totalTimeLoggedDayMins = overallDayTime-totalBreakTime
        console.log(totalMinutesForAll, "total mins for all clients combined")
        console.log(nonBillableTimeMins, "non billable time")
        console.log(totalTimeLoggedDayMins)

        const allDayDifference = totalTimeFractionalHours * 60 - (totalTimeLoggedDayMins);
        let formattedAllDifference
if (allDayDifference > 0) {
  formattedAllDifference = `<span style="color: green;">${upArrow}${allDayDifference}</span>`;
} else if (allDayDifference < 0) {
  formattedAllDifference = `<span style="color: red;">${downArrow}${Math.abs(allDayDifference)}</span>`;
} else {
  formattedAllDifference = allDayDifference;
}


        document.getElementById("total-time-value").innerHTML = `${totalTimeFractionalHours} hrs. (${minutesToHoursMinutes(totalTimeLoggedDayMins)}) ${formattedAllDifference}`;

      }

      function minutesToHoursMinutes(totalMinutes) {
    // Calculate hours and remaining minutes
    const hours = Math.floor(totalMinutes / 60);
    let minutes = totalMinutes % 60;

    // Ensure minutes are properly formatted with leading zero if necessary
    minutes = minutes.toString().padStart(2, '0');
    
    // Return the formatted string
    return `${hours}:${minutes}`;
}



      function aggregateByClient(tasks) {
        const clientMap = {};
        tasks.forEach((task) => {
          if (!clientMap[task.client_id]) {
            clientMap[task.client_id] = {
              id: task.client_id,
              name: task.client_name,
              totalTimeSpent: 0,
              tasks: [],
            };
          }
          clientMap[task.client_id].totalTimeSpent += task.time_spent;
          clientMap[task.client_id].tasks.push(task);
        });
        return Object.values(clientMap);
      }

      function toggleDetailTable(clientId) {
        const detailRow = document.getElementById(`detail-row-${clientId}`);
        const table = document.getElementById("tasks-table");
        const rows = table.getElementsByTagName("tr");
        const clientIndex = [...rows].findIndex(
          (row) => row.id === `detail-row-${clientId}`
        );

        if (detailRow.style.display === "none") {
          detailRow.style.display = "table-row";
        } else {
          detailRow.style.display = "none";
        }

        for (let i = clientIndex + 1; i < rows.length; i++) {
          if (rows[i].id && rows[i].id.startsWith("detail-row-")) {
            break;
          }
          table.removeChild(rows[i]);
        }

        for (let i = clientIndex + 1; i < rows.length; i++) {
          if (rows[i].id && rows[i].id.startsWith("detail-row-")) {
            break;
          }
          tbody.appendChild(rows[i].cloneNode(true));
        }
      }

      function convertTo12HourFormat(timeString) {
        const [hours, minutes] = timeString.split(":");
        const period = +hours >= 12 ? "PM" : "AM";
        const hour = +hours % 12 || 12;
        return `${String(hour).padStart(2)}:${minutes} ${period}`;
      }
    </script>
  </body>
</html>
