{% extends 'base.html' %}

{% block title %}
  Task Items History
{% endblock %}

{% block additional_styles %}
  <style>
    .tooltip {
      position: absolute;
      display: none;
      background-color: white;
      border: 1px solid #e5e7eb;
      padding: 0.75rem;
      border-radius: 0.375rem;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      pointer-events: none;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="max-w-7xl mx-auto py-6">
    <h2 class="text-2xl font-bold mb-6">Task Manager</h2>

    <div class="grid grid-cols-1 lg:grid-cols-4 gap-6">
      <div class="lg:col-span-3">
        <input type="text" id="selected-date" class="w-full mb-4 p-2 border rounded cursor-pointer" onchange="fetchTasks()" />

        <div id="timeline" class="my-4"></div>
        <div id="tooltip" class="tooltip"></div>

        <table class="w-full border-collapse border border-gray-200">
          <thead>
            <tr class="bg-gray-50">
              <th class="p-3 text-left border border-gray-200">Client</th>
              <th class="p-3 text-left border border-gray-200">Total Time Spent</th>
              <th class="p-3 text-left border border-gray-200">Qtr. Hr.</th>
              <th class="p-3 text-left border border-gray-200">Rounded Change</th>
            </tr>
          </thead>
          <tbody id="tasks-tbody"></tbody>
        </table>
      </div>

      <div class="lg:col-span-1">
        <table class="w-full">
          <tr class="border-b">
            <th class="p-3 text-left">Billable Time</th>
            <td id="billable-value" class="p-3">-</td>
          </tr>
          <tr class="border-b">
            <th class="p-3 text-left">Non-Billable Time</th>
            <td id="nonbillable-value" class="p-3">-</td>
          </tr>
          <tr class="border-b border-t-2 border-black">
            <th class="p-3 text-left">Total Time</th>
            <td id="total-time-value" class="p-3">-</td>
          </tr>
          <tr>
            <th class="p-3 text-left">Break Time</th>
            <td id="break-value" class="p-3 text-red-600">0</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block page_scripts %}
  <script src="https://unpkg.com/vis-timeline@latest/standalone/umd/vis-timeline-graph2d.min.js"></script>
  <link href="https://unpkg.com/vis-timeline@latest/styles/vis-timeline-graph2d.min.css" rel="stylesheet" type="text/css" />
  <script src="{{ url_for('static', filename='js/task_browser.js') }}" type="module"></script>
{% endblock %}
